@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

body {
  font-size: 2vw;
  background-image: url('./assets/0-images/casino\ table.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 97vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Pixelify Sans", sans-serif;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0087.png'), auto;
}

a {
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

.mesaSuperior {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background-image: url('./assets/Edição\ imagens/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 5/1;
  width: 28.646vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.mesaMeio {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.linha {
  display: flex;
}

.campoBaralho {
  margin-left: 4.5vw;
}

.missao {
  text-align: right;
  font-size: .5em;
  margin-right: 2.5vw;
}

.mesaInferior {
  display: flex;
  flex-direction: column;
}

.mao {
  align-self: center;
  display: flex;
  height: 15.98vh;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

label {
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

input {
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
  height: 100%;
  all: unset;
}

.hud {
  width: 100%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    & img {
      width: 2.28vw;
      aspect-ratio: 1/1;
    }
  }

  & a {
    & img {
      width: 2.28vw;
      aspect-ratio: 1/1;
    }
  }
}

.placar {
  background-image: url('./assets/Edição\ imagens/placar.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 29.297vw;
  aspect-ratio: 6/1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .titulo {
    margin-left: 2vh;
  }

  & .pontuacao {
    margin-right: 2vh;
    text-align: right;
  }
}

.conversor {
  display: flex;
  height: 100%;
}

.campoResultado {
  display: flex;
}

.missao {
  font-size: .8rem;
}