@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
  font-size: 2vw;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background-image: url('./assets/0-images/casino\ table.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 97vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0087.png'), auto;
}

.mesaSuperior {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
  }
}

.mesaMeio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
  text-align: center;

  & button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
  }

  & button:hover {
    background-color: #EFB661;
  }
}

.mesaInferior {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.logo {
  background-image: url('./assets/Edição\ imagens/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 5/1;
  width: 30.646vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

h1 {
  color: #1F2A44;
}

input[type="checkbox"] {
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: url('./assets/kenney_cursor-pixel-pack/Tiles/tile_0069.png'), auto;
}

.hud {
  width: 100%;
  padding-left: 1%;
  display: flex;
  gap: .5%;
  align-items: center;

  & button {
    & img {
      width: 2.28vw;
      aspect-ratio: 1/1;
    }
  }

  & a {
    & img {
      width: 2.28vw;
      aspect-ratio: 1/1;
    }
  }
}

.linha {
  display: flex;
}